body{
    background-color: #060d17;
}

.backdrop{
    position: absolute;
    top: 0;
    z-index: -1;
}

.gradient{
    content: '';
    position:absolute;
    height: 1500px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 20%,#060d17 40%);
    z-index: -1;
}

.container {
    border-radius: 18px;
    max-width: 1200px;
    background-color: #060d17;
    padding-top: 20px;
    margin: 25% auto;
    z-index: 1;
    color: white;
}

.col1{
    max-width: 440px;
}

.col1 img{
    border-radius: 8px;
}

.col1 .row .cat{
    max-width: 100px;
    font-weight: 500;
    font-size: 16px;
}

.rcm {
    z-index: 1;
}

.col2 .rcmd{
    max-width: 500px;
    width: 100%;
}

.col2 .rcmd img
{   
    white-space: nowrap;
    z-index: -1;
}